* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* variables */
:root {
  --bg-color: rgb(127, 255, 212);
  --btn-color: rgb(233, 233, 237);
}

/* header */
header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div.logo-header {
  display: flex;
}

header img.logo {
  width: 5%;
  height: 40%;
  margin-left: 2em;
}

header h1 {
  font-weight: bolder;
  font-size: 2.5em;
  margin-left: 0.5em;
}

header div.input {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  font-size: 1.2em;
}

div.input #difficulty {
  width: 25%;
  background-color: var(--btn-color);
  border-radius: 5px;
  margin-left: 0.5em;
}
div.input button {
  margin-right: 1.5em;
  margin-left: 0.5em;
  padding: 0.1em 1.9em;
  border-radius: 5px;
  background-color: var(--btn-color);
}